@media (min-width: 1200px) {
        .cat {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .cat>div {
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
    }

    .cat>div>div {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border-bottom: 2px solid #dbdbdb;
        align-items: end;
        padding-bottom: 15px;
    }

    .cat>div>div:nth-of-type(3) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(2) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(1) {
        width: 15%;
    }

    .cat>div>div:nth-of-type(5) {
        width: 15%;
    }

    .cat>div>div>a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }

    .cat>div>div:hover>a {
        color: #9D5B48;
    }

    .cat>div>div:hover {
        border-bottom: 2px solid #9D5B48;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
        .cat {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .cat>div {
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
    }

    .cat>div>div {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border-bottom: 2px solid #dbdbdb;
        align-items: end;
        padding-bottom: 15px;
    }

    .cat>div>div:nth-of-type(3) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(2) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(1) {
        width: 15%;
    }

    .cat>div>div:nth-of-type(5) {
        width: 15%;
    }

    .cat>div>div>a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }

    .cat>div>div:hover>a {
        color: #9D5B48;
    }

    .cat>div>div:hover {
        border-bottom: 2px solid #9D5B48;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .cat {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }

    .cat>div {
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
    }

    .cat>div>div {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border-bottom: 2px solid #dbdbdb;
        align-items: end;
        padding-bottom: 15px;
    }

    .cat>div>div:nth-of-type(3) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(2) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(1) {
        width: 15%;
    }

    .cat>div>div:nth-of-type(5) {
        width: 15%;
    }

    .cat>div>div>a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        color: black;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;
    }

    .cat>div>div:hover>a {
        color: #9D5B48;
    }

    .cat>div>div:hover {
        border-bottom: 2px solid #9D5B48;
    }
}

@media (min-width: 560px) and (max-width: 768px) {
    .cat {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }

    .cat>div {
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
    }

    .cat>div>div {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border-bottom: 2px solid #dbdbdb;
        align-items: end;
        padding-bottom: 15px;
    }

    .cat>div>div:nth-of-type(3) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(2) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(1) {
        width: 15%;
    }

    .cat>div>div:nth-of-type(5) {
        width: 15%;
    }

    .cat>div>div>a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
    }

    .cat>div>div:hover>a {
        color: #9D5B48;
    }

    .cat>div>div:hover {
        border-bottom: 2px solid #9D5B48;
    }
}

@media (max-width: 560px) {
        .cat {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
    }

    .cat>div {
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: center;
        align-items: center;
    }

    .cat>div>div {
        width: 20%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        border-bottom: 2px solid #dbdbdb;
        align-items: end;
        padding-bottom: 15px;
    }

    .cat>div>div:nth-of-type(3) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(2) {
        width: 25%;
    }

    .cat>div>div:nth-of-type(1) {
        width: 15%;
    }

    .cat>div>div:nth-of-type(5) {
        width: 15%;
    }

    .cat>div>div>a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        color: black;
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
    }

    .cat>div>div:hover>a {
        color: #9D5B48;
    }

    .cat>div>div:hover {
        border-bottom: 2px solid #9D5B48;
    }
}