@media (min-width: 1200px) {
    .search {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search>input {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        margin-top: 30px;
        direction: rtl;
        padding-right: 20px;
        font-size: 18px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }

    .suggestion-box {
        position: absolute;
        top: 109%;
        background-color: #f1f1f1;
        width: 80%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1;
        direction: rtl;
        font-size: 16px;
        border-radius: 10px;

    }

    .suggestion-box div {
        padding: 15px;
        cursor: pointer;
    }

    .suggestion-box div:hover {
        background-color: #c4c4c4;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {
    .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .search>input {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        margin-top: 30px;
        direction: rtl;
        padding-right: 20px;
        font-size: 18px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    
    .suggestion-box {
        position: absolute;
        top: 109%;
        background-color: #f1f1f1;
        width: 80%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1;
        direction: rtl;
        font-size: 16px;
        border-radius: 10px;

    }

    .suggestion-box div {
        padding: 15px;
        cursor: pointer;
    }

    .suggestion-box div:hover {
        background-color: #c4c4c4;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .search>input {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        margin-top: 30px;
        direction: rtl;
        padding-right: 20px;
        font-size: 18px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    
    .suggestion-box {
        position: absolute;
        top: 109%;
        background-color: #f1f1f1;
        width: 80%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1;
        direction: rtl;
        font-size: 16px;
        border-radius: 10px;

    }

    .suggestion-box div {
        padding: 15px;
        cursor: pointer;
    }

    .suggestion-box div:hover {
        background-color: #c4c4c4;
    }
}

@media (min-width: 560px) and (max-width: 768px) {
    .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .search>input {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        direction: rtl;
        padding-right: 20px;
        font-size: 16px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    
    .suggestion-box {
        position: absolute;
        top: 90%;
        background-color: #f1f1f1;
        width: 80%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1;
        direction: rtl;
        font-size: 16px;
        border-radius: 10px;
        

    }

    .suggestion-box div {
        padding: 15px;
        cursor: pointer;
    }

    .suggestion-box div:hover {
        background-color: #c4c4c4;
    }
}

@media (max-width: 560px) {
    .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .search>input {
        width: 80%;
        height: 70%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        direction: rtl;
        padding-right: 20px;
        font-size: 14px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
    
    .suggestion-box {
        position: absolute;
        top: 85%;
        background-color: #f1f1f1;
        width: 80%;
        max-height: 200px;
        overflow-y: auto;
        z-index: 1;
        direction: rtl;
        font-size: 14px;
        border-radius: 10px;

    }

    .suggestion-box div {
        padding: 15px;
        cursor: pointer;
    }

    .suggestion-box div:hover {
        background-color: #c4c4c4;
    }
}