@media (min-width: 1200px) {
        .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search>input {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        margin-top: 30px;
        direction: rtl;
        padding-right: 20px;
        font-size: 18px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
        .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search>input {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        margin-top: 30px;
        direction: rtl;
        padding-right: 20px;
        font-size: 18px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search>input {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        margin-top: 30px;
        direction: rtl;
        padding-right: 20px;
        font-size: 18px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

@media (min-width: 560px) and (max-width: 768px) {
        .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search>input {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        direction: rtl;
        padding-right: 20px;
        font-size: 16px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

@media (max-width: 560px) {
        .search {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search>input {
        width: 80%;
        height: 70%;
        border-radius: 10px;
        border: 1px solid #B3B2AE;
        direction: rtl;
        padding-right: 20px;
        font-size: 14px;
        -webkit-appearance: none;
        appearance: none;

    }

    .search>input::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}